/* 基本样式 */
.drawer {
    list-style: none;
    padding: 0;
    width: 100%;
    background-color: #1c232f;
    float: left;
}

.drawer-item {
    padding: 10px;
    cursor: pointer;
    color: white;
    text-align: left; /* 文本左对齐 */
    text-decoration: none;
    line-height: 50px;
}

.sub-menu {
    display: none;
    padding-left: 2px;
}

.sub-menu-item {
    padding: 3px;   /* 设置子标题的内边距 */
    cursor: pointer;    /* 鼠标移动到上面时显示手型 */
    color: white;    /* 字体颜色 */
    text-align: left; /* 文本左对齐 */
    text-decoration: none;  /* 文本无下划线 */
    line-height: 20px;  /* 行高 */
    font-size: 13px;    /* 字体大小 */
}

/*!* 鼠标悬停时打开抽屉，鼠标移开时关闭抽屉 *!*/
/*.drawer-item:focus .sub-menu {*/
/*    display: block;*/
/*}*/
/* 鼠标点击时打开抽屉，鼠标点击其他抽屉时，关闭此抽屉 */
/*.drawer-item:focus + .sub-menu-item {*/
/*    display: block;*/
/*}*/

/*!* 默认隐藏所有子菜单 *!*/
/*.sub-menu-item {*/
/*    display: none;*/
/*}*/


/* 子标题鼠标经过时的改变颜色 */
.sub-menu-item:hover {
    background-color: #12040c;
}

/* 默认隐藏所有子菜单 */
.sub-menu {
display: none;
}

/* 当抽屉项目被点击并成为锚点的目标时，显示对应的子菜单 */
.sub-menu:target {
display: block;
}
.content-left {
    width: 20%;
    height: 90vh;
    background-color: #1c232f;
    float: left;
}

h1 {
    text-align: center;
    color: black;
    font-size: 20px;
    /* 垂直居中 */
    line-height: 7vh;
    /*border: black solid 0.5px;*/
}

.content-right {
    width: 80%;
    height: 90vh;
    background-color: #6495ED;
    float: left;
}

/* 设置 <ul> 标签的左边距为 10% */
ul.drawer {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-left: 10%; /* 左边距设置为 10% */
    background-color: #1c232f;
    float: left;
}

/* 设置 <li> 标签的左边距为 10% */
li.drawer-item {
    cursor: pointer;
    color: white;
    text-align: left; /* 文本左对齐 */
    text-decoration: none;
    line-height: 30px;
    margin-left: 10%; /* 左边距设置为 10% */
}

ul.sub-menu {
    list-style: none;
    height: auto;
    max-height: 50vh;
    /* 隐藏滚动条 */
    overflow: auto;
}

.content-left-serch {
    width: 100%;
    height: auto;
    background-color: #1c232f;
    float: left;
    padding: 10px;
    text-align: center;

}

.content-left-serch button {
    width: 29%;
    height: 30px;
    background-color: #0C1119;
    float: left;
    border: none;
    color: white;
    font-size: 15px;
}
.refresh button {
    width: 100%;
    height: 30px;
    background-color: #0C1119;
    float: left;
    border: none;
    color: white;
    font-size: 15px;
    bottom: 10px;
}

.content-left-serch input {
    width: 69%;
    height: 28px;
    background-color: #0C1119;
    float: left;
    border: none;
    color: white;
    font-size: 10px;
    text-align: center;
}

.content-right-content {
    width: 100%;
    height: 100%;
    background-color: #6495ED;
    float: left;
}

.content-right-content h3 {
    text-align: center;
    color: white;
    font-size: 20px;
    /* 垂直居中 */
    line-height: 90vh;
    /*border: black solid 0.5px;*/
}

.content-right-content iframe {
    width: 100%;
    height: 100%;
    /*border: black solid 0.5px;*/
}
