<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试</title>

    <link rel="stylesheet" href="../static/css/ceshi.css?v=1.2">
</head>
<body>
    <div class="search">
        <label for="text_1"><input type="text" id="text_1" required placeholder="日期"></label>
        <label for="text_2"><input type="text" id="text_2" required placeholder="名称"></label>
        <label for="text_3"><input type="text" id="text_3" required placeholder="规格"></label>
        <button class="button" type="submit" onclick=button_click() id="check_btn">查询</button>
        <button class="button" type="button" onclick=clear_content() id="clear_btn">清空</button>
    </div>
    <div class="box">
        <div class="left" id="leftMenu">
            <ul>
                {% for item in keylist %}
                    <li id="{{ item }}">{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="right">
            <div class="table">
                <table>
                    <thead>
                    <tr>
                        <th>表头</th>
                        <th>表头</th>
                        <th>表头</th>
                        <th>表头</th>
                        <th>表头</th>
                        <th>表头</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容</td>
                        <td>内容内容内容内容内容内容内容</td>
                        <td>内容</td>
                        <td>内容</td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td>结尾</td>
                        <td>结尾</td>
                        <td>结尾</td>
                        <td>结尾</td>
                        <td>结尾</td>
                        <td>结尾</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <button class="menu-toggle" id="menuToggle">+++++++++</button>
</body>
</html>
<script src="../static/js/ceshi.js?v=1.0.3"></script>


