<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}拟合曲线图</title>
</head>
<body>
    <ul>
        <li>测试1</li>
        <li>测试2</li>
        <li>测试3</li>
        <li>测试4</li>
        <li>测试5</li>
    </ul>
    <ul>
        <li>测试6</li>
        <li>测试7</li>
        <li>测试8</li>
        <li>测试9</li>
        <li>测试10</li>
    </ul>
    <script>
        const liElements = document.querySelectorAll("li");
        liElements.forEach(function (li){
            li.addEventListener('click', function (){
                var textContent = li.textContent;
                alert("你点击的文本内容是：" + textContent);
            })
        })
    </script>
</body>

</html>