<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>目录</title>
    <style>
        body {
            font-family: KaiTi_GB2312, serif;
            font-size: 25px;
            /*align-items: center;*/
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
        ul {
            list-style: none;
            padding: 10px;
        }
        li {
            padding: 10px;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="/xinxijia">雄安苗木信息价查询</a></li>
        <li><a href="/search_data_index">秀林苗木价格查询</a></li>
        <li><a href="/ceshi_html">测试页面</a></li>
        <li><a href="/creat_reports_zip_first">进度款测试界面（首次）</a></li>
        <li><a href="/creat_reports_zip_not_first">进度款测试界面（非首次）</a></li>
    </ul>
</body>
</html>