<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Progerss Reports Contents</title>
    <link rel="icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/new_css_0904.css?v=1.01">
</head>
<body>
    <div class="big_box">
        <div class="user_info">
        用户名：{{ username }}
        <a href="/index">返回主页</a>
        </div>
      <div class="box">
        <div class="box_sun">
          <ul>
            <li><a href="/creat_reports_zip_first">【进度款】新点软件报告生成（首次使用）</a></li>
            <li><a href="/creat_reports_zip_not_first">【进度款】新点软件报告生成（非首次使用）</a></li>
            <li><a href="/week_report_html">【周报】周报生成</a></li>
          </ul>
        </div>
      </div>
    </div>
</body>
</html>